$color1: #e21982; /* FUCSIA */
$color2: #6a2a83; /* VIOLETA */
$color3: #22193f; /* AZUL OSCURO */
$color4: #4b4b4b; /* GRIS OSCURO */


/* Custom page CSS
-------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $color4;
  background-color: $color3;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: $color3;
}

.btn-link {
  color: $color1;
  text-decoration: underline;
  &:hover {
    color: $color2;
  }
}

main {
  background-image: url("../images/ondas.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
  height: auto;
  padding: 50px 0;
}

.form-box {
  max-height: 600px;
}

.form-group {
  position: relative;
}

.form-control {
  border-radius: 1.5rem;
  color: $color1;
  padding-right: 50px;
  &:focus {
    color: $color1;
    border-color: $color1;
    box-shadow: none;
  }
}

.right-addon {
  position: absolute;
  right: 15px;
  top: 1px;
  font-size: 22px;
  color: $color2;
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: $color1;
  border-color: $color1;
  border-radius: 1.5rem;
  &:hover {
    background-color: $color2;
    border-color: $color2;
  }
  &:focus, &:active {
    background-color: $color1;
    border-color: $color1;
    box-shadow: none;
  }
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $color1;
  border-color: $color1;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

@media (min-height: 450px) {
  main {
    height: 100vh;
  }
}


